version: 2.1
jobs:
  deploy:
    working_directory: ~/repo
    docker:
      - image: shaperid/node-aws-ci:latest
    environment:
      NODE_OPTIONS: --max_old_space_size=4096
    parameters:
      domain:
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Install deps
          command: yarn
      - run:
          name: Build application
          command: yarn build
      - run:
          name: Upload static
          command: aws s3 sync /home/circleci/repo/dist/ s3://<< parameters.domain >>/ --delete --acl public-read

workflows:
  deploy:
    jobs:
      - deploy:
          context: production
          filters:
            branches:
              only: master
          domain: 'widget.otechie.com'
      - deploy:
          context: development
          filters:
            branches:
              only: dev
          domain: 'widget.dev-otechie.com'
