<div class="js-widget-overlay">
  <div class="otechie-widget-chatbox">
    <div class="otechie-widget-top">
      <div style="display: inline-block;">
        <img src="https://s.gravatar.com/avatar/b0b4c153ec03493df9e7d06d8fc900e2?s=200&d=retro"
             class="otechie-widget-avatar"
             height="60"
             width="60">
      </div>
      <div style="display: inline-block; padding-left: 8px; margin-top: -8px;">
        <h3 class="ow-workspace-name">
          Otechie Team
        </h3>
        <p class="ow-workspace-rate">
          $300 / hr
        </p>
      </div>
    </div>
    <textarea class="otechie-widget-textarea" draggable="false" placeholder="Start chat with Dylan"></textarea>
    <div class="ow-powered-by-wrapper">
      <a class="ow-powered-by" target="_blank" href="https://otechie.com">
        Consulting ⚡ by Otechie
      </a>
    </div>
  </div>
  <img src="https://cdn.otechie.com/attachments/Yf6W1eiVZ/image.png" class="otechie-widget-chat"/>
</div>

