.otechie-widget-bubble {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 52px;
    width: 52px;
    border-radius: 12px;
    background-color: #549DFF;
    color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    cursor: pointer;
}

.otechie-widget-bubble:hover {
    background-color: #4887dc;
}

.otechie-widget-x {
    margin: 12px 8px 16px 16px;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(0.2) rotate(-45deg);
    transition: opacity 0.15s linear, transform 0.15s ease-in;
}

.otechie-open .otechie-widget-x {
    opacity: 1;
    transform: none;
    transition: opacity 0.15s 0.15s linear, transform 0.15s 0.15s ease-out;
}

.otechie-widget-icon {
    margin: 10px;
    display: block;
    opacity: 1;
    transform: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: opacity 0.15s 0.15s linear, transform 0.15s 0.15s ease-out;
}

.otechie-open .otechie-widget-icon {
    transform: scale(0.2) rotate(45deg);
    opacity: 0;
    transition: opacity 0.15s linear, transform 0.15s ease-in;
}

.otechie-widget-iframe-wrapper {
    z-index: 10002;
    position: fixed;
    bottom: 88px;
    right: 20px;
    width: 376px;
    height: calc(100% - 120px);
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 8px;
    border: none;
    background-color: white;
    opacity: 0;
    transform: translate(0, 16px) !important;
    transition: opacity 0.15s linear, transform 0.15s ease-in, visibility 0.15s linear;
    visibility: hidden;
    overflow: hidden;
}

.otechie-widget-iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    user-select: none;
}

.otechie-open .otechie-widget-iframe-wrapper {
    transition: opacity 0.3s linear, transform 0.3s ease-out, visibility 0.3s linear;
    opacity: 1;
    transform: none !important;
    visibility: visible;
}

.otechie-mobile-x {
    z-index: 10003;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    padding: 12px;
    color: white;
    border-radius: 0 0 0 50%;
    background-color: #549DFF;
}

@media (max-width: 767px) {
    .otechie-widget-iframe-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .otechie-lock {
        overflow-y: hidden;
        position: fixed;
    }
}
