.otechie-widget-bubble {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 52px;
    width: 52px;
    border-radius: 12px;
    background-color: #549DFF;
    color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    cursor: pointer;
}

.otechie-widget-bubble:hover {
    background-color: #4887dc;
}

.otechie-widget-x {
    margin: 12px 8px 16px 16px;
}

.fade .otechie-widget-x {
    display: none;
}

.show .otechie-widget-x {
    display: block;
}

.otechie-widget-icon {
    margin: 10px;
}

.fade .otechie-widget-icon {
    display: block;
}

.show .otechie-widget-icon {
    display: none;
}

.otechie-widget-iframe {
    z-index: 10002;
    position: fixed;
    bottom: 88px;
    right: 20px;
    width: 376px;
    height: calc(100% - 120px);
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 8px;
    border: none;
    background-color: white;
}

.fade .otechie-widget-iframe {
    /*transform: translate(0, 100px) !important;*/
    opacity: 0;
}

.show .otechie-widget-iframe {
    transform: none !important;
    opacity: 1;
}

.otechie-mobile-x {
    display: none;
    z-index: 10003;
    position: fixed;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    padding: 12px;
    color: white;
    border-radius: 0 0 0 50%;
    background-color: #549DFF;
}

@media (max-width: 767px) {
    .otechie-widget-iframe {
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .show .otechie-mobile-x {
        display: block;
    }

    .lock {
        overflow-y: hidden;
        position: fixed;
    }
}
