.OtechieWidget--video {
    transform: translate(0, 16px);
    transition: opacity 0.15s linear, transform 0.15s ease-in, visibility 0.15s linear, z-index 0.15s 0.15s linear;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10006;
    position: fixed;
    border: none;
    height: 100%;
    width: 100%;
}

.OtechieWidget--avatar {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.OtechieWidget--loaded.OtechieWidget--video-open .OtechieWidget--video {
    z-index: 10006;
    transition: opacity 0.3s linear, transform 0.3s ease-out;
    opacity: 1;
    transform: none !important;
    visibility: visible;
}

.OtechieWidget--bubble {
    border-radius: 50%;
    z-index: 10003;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 64px;
    width: 64px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    visibility: hidden;
    user-select: none;
    transition: opacity 0.3s linear;
    opacity: 0;
}

.OtechieWidget--video-glow {
    width: 100%;
    height: 100%;
    animation: rotation 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 8;
    animation-delay: 30s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.OtechieWidget--loaded .OtechieWidget--bubble {
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.15s linear;
}

.OtechieWidget--hide .OtechieWidget--bubble {
    visibility: hidden;
}

.OtechieWidget--loaded .OtechieWidget--bubble {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: opacity 0.15s linear 0.5s;
}

.OtechieWidget--lock {
    overflow: hidden;
    position: fixed;
}

